<form [formGroup]="meuForm" class="p-5" (submit)="Salvar()">

  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
      </div>
    </div>
  </div>

  <app-mostrar-mensagem
    [controles]="meuForm.controls['nome']"
    [mensagem]="'Erro ao preencher nome'"
  ></app-mostrar-mensagem>

  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
      </div>
    </div>
  </div>

  <app-mostrar-mensagem
    [controles]="meuForm.controls['email']"
    [mensagem]="'Erro ao preencher email'"
  ></app-mostrar-mensagem>

  <div class="row d-flex justify-content-center py-3">
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>

</form>
